.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text {
  color: black;
  font-family: Raleway-Semi-Bold, serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin: 1.5rem 0;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.first-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.second-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.container {
  border-radius: 0.9375rem;
  border: 0.5px solid #dcdcdc;
  background: rgba(33, 122, 255, 0.19);
  backdrop-filter: blur(3px);
  flex: 1 1 auto;
}

.icon-text-container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 0.5rem;
}
.icon {
  width: 2.375rem;
  height: 2.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.9375rem;
  background: rgba(248, 248, 248, 0.15);
}
.icon-text {
  margin-left: 0.15rem;
  color: black;
  font-family: Raleway-Semi-Bold;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text-container {
  padding-top: 1rem;
  padding-left: 3.1rem;
  margin-right: 2rem;
  flex-direction: column;
}
.second-text-container {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-right: 2rem;
}
.text {
  color: #515151;
  font-family: Raleway-Regular;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0125rem;
  margin-bottom: 0.5rem;
}
