.main-container {
  margin-top: 4rem;
}

.header-text {
  color: #000;
  font-family: Raleway-Semi-Bold;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0675rem;
  text-transform: capitalize;
  text-align: center;
}
.block-news {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.news-container {
  padding: 1.5rem;
  border-radius: 0.625rem;
  border: 1px solid rgba(223, 223, 223, 0.75);
  background: #f4f4f4;
  box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-screen {
  height: 13.75rem;
  border-radius: 0.9375rem;
  background: url("../assets/NewsScreen.svg") no-repeat;
}
.news-data-container {
  display: flex;
}
.news-header-container {
  margin-top: 0.5rem;
  display: flex;
}
.header {
  color: #000;
  font-family: Raleway-Bold;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.025rem;
}
.data-text {
  color: #515151;
  font-family: Raleway-Extra-Light;
  font-size: 0.725rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.01875rem;
  margin-right: 0.25rem;
}
.news-text-container {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
}
.news-text {
  color: #000;
  font-family: Raleway-Regular;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 200%; /* 1.5rem */
  letter-spacing: 0.0375rem;
}
.btn-container {
  margin-top: 5rem;
  margin-left: 18.5rem;
}
