.main-container {
	margin-top: 4rem;
}
.header-text-container {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
}
.header {
	color: #000;
	font-family: Raleway-Semi-Bold;
	font-size: 2.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.0675rem;
	text-align: center;
}
.text-header {
	color: #515151;
	font-family: Raleway-Regular;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.0175rem;
	padding-top: 0.5rem;
}
.screen {
	width: 100%;
	height: 39.5625rem;
	border-radius: 1.25rem;
	background: url("../assets/FirstScreen.svg") center no-repeat;
	object-fit: cover;
	margin-top: 1rem;
}
.operations-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 1rem;
}
.operations {
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
}
.icon-text-container {
	display: flex;
	margin-top: 0.5rem;
}
.icon-text {
	color: #515151;
	font-family: Raleway-Semi-Bold;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.75rem;
	letter-spacing: 0.0175rem;
	margin-left: 0.5rem;
}

.text {
	color: #515151;
	align-items: center;
	font-family: Raleway-Light;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0.0125rem;
}
.line {
	width: 0.0625rem;
	height: 10.75rem;
	flex-shrink: 0;
	background: rgba(217, 217, 217, 0.4);
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
.other-operations {
	display: flex;
	flex-direction: column;
}
.other-text {
	color: #515151;
	font-family: Raleway-Regular;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0.0175rem;
}
